/* Social Buttons */
/* Reset Styles*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}
body {
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  color: #525f7f;
  background-color: #f8f9fe;
}

hr {
  overflow: visible;
  box-sizing: content-box;
  height: 0;
}

a,
a:hover {
  text-decoration: none;
}

.main-content {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(0deg, #305063 0%, #26a0da 100%);
}

.btn {
  padding-left: 15px;
  padding-right: 15px;
}

.btn:hover {
  outline: 0;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.15s;
  transform: translateY(-2px);
}

.pt-7,
.py-7 {
  padding-top: 6rem !important;
}

.pt-8,
.py-8 {
  padding-top: 8rem !important;
}

.pt-md-4,
.py-md-4 {
  padding-top: 1.5rem !important;
}

.pb-md-4,
.py-md-4 {
  padding-bottom: 1.5rem !important;
}

.btn-rounded {
  border-radius: 50em !important;
}

@media (min-width: 768px) {
  .main-content .container-fluid {
    padding-right: 39px !important;
    padding-left: 39px !important;
  }
}
/* Blobs Background*/
.blob {
  position: absolute;
  width: 6.25em;
}

.blob-xs {
  position: absolute;
  width: 6.25em;
}

.blob-sm {
  position: absolute;
  width: 12.5em;
}

.blob-md {
  position: absolute;
  width: 15.625em;
}

.blob-lg {
  position: absolute;
  width: 18.75em;
}

.float-x {
  animation: float-x 6s ease-in-out infinite;
}

.float-y {
  animation: float-y 6s ease-in-out infinite;
}

@keyframes float-x {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translatex(-10px);
  }
  100% {
    transform: translatex(0px);
  }
}
@keyframes float-y {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
.blob:nth-child(1) {
  top: 0;
  left: 30%;
  z-index: 2;
  animation: float-y 6s ease-in-out infinite;
}

.blob:nth-child(2) {
  right: 27%;
  bottom: 7%;
  animation: float-y 6s ease-in-out infinite;
}

.blob:nth-child(3) {
  left: 27%;
  top: 30%;
  animation: float-x 6s ease-in-out infinite;
}

.blob:nth-child(4) {
  right: 32%;
  top: 20%;
  z-index: 2;
  animation: float-y 6s ease-in-out infinite;
}

.blob:nth-child(5) {
  left: 32%;
  bottom: 7%;
  z-index: 2;
  animation: float-y 6s ease-in-out infinite;
}

.blob:nth-child(6) {
  right: 25%;
  top: 45%;
  animation: float-x 6s ease-in-out infinite;
}

.blob:nth-child(7) {
  left: 23%;
  bottom: 27%;
  animation: float-x 6s ease-in-out infinite;
}

@media (max-width: 1200px) {
  .blob-xs {
    width: calc(6.250em / 2);
  }

  .blob-sm {
    width: calc(12.500em / 2);
  }

  .blob-md {
    width: calc(15.625em / 2);
  }

  .blob-lg {
    width: calc(18.750em / 2);
  }

  .blob:nth-child(1) {
    left: 0;
    top: 2%;
    z-index: 2;
    animation: float-y 6s ease-in-out infinite;
  }

  .blob:nth-child(2) {
    right: -3%;
    bottom: 7%;
    animation: float-y 6s ease-in-out infinite;
  }

  .blob:nth-child(3) {
    left: -50px;
    top: 30%;
    animation: float-x 6s ease-in-out infinite;
  }

  .blob:nth-child(4) {
    right: 0;
    top: 20%;
    z-index: 2;
    animation: float-y 6s ease-in-out infinite;
  }

  .blob:nth-child(5) {
    left: 5%;
    bottom: 7%;
    z-index: 2;
    animation: float-y 6s ease-in-out infinite;
  }

  .blob:nth-child(6) {
    right: -20px;
    top: 45%;
    animation: float-x 6s ease-in-out infinite;
  }

  .blob:nth-child(7) {
    left: -20px;
    bottom: 27%;
    animation: float-x 6s ease-in-out infinite;
  }
}
/* Card Profile */
.card {
  background: rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}

.card-header {
  margin-bottom: 0;
  padding: 1.25rem 1.5rem;
  background: rgba(255, 255, 255, 0);
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px 10px 0 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card-profile {
  background-color: #f7fafc;
}

.card-profile-image {
  position: relative;
}

.card-profile-image img {
  position: absolute;
  left: 50%;
  max-width: 180px;
  transition: all 0.15s ease;
  transform: translate(-50%, -30%);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(9.9px);
  -webkit-backdrop-filter: blur(9.9px);
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.card-profile-image img:hover {
  transform: translate(-50%, -33%);
}

@media (max-width: 675px) {
  .card-profile-image img {
    max-width: 130px;
  }
}
@media (max-width: 400px) {
  .card-header {
    padding-top: 110px;
    padding-bottom: 0;
  }

  .card-header div {
    justify-content: center !important;
  }
}
.img-thumbnail {
  border: 0px;
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 5px;
  cursor: pointer;
  transition: all 0.2s;
  max-width: 10em;
}

@media (max-width: 400px) {
  .img-thumbnail {
    max-width: 9em;
  }
}
.img-thumbnail:hover {
  transform: scale(1.02);
}

/* Custom Social Buttons */
.profile-card-social {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.5 ease;
}

.profile-card-social__item {
  display: inline-flex;
  width: 100%;
  height: 55px;
  margin: 15px;
  margin-bottom: 0;
  border-radius: 5em;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #405de6;
  box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
  position: relative;
  font-size: 21px;
  flex-shrink: 0;
  transition: all 0.3s;
}

.profile-card-social__item:hover {
  transform: scale(1.04);
  color: white;
}

.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  border: none;
  color: white;
}

.btn-circle:hover {
  color: white;
}

.btn-circle i {
  display: flex;
  justify-content: center;
  margin: 50%;
}

.btn-facebook {
  background: linear-gradient(45deg, #3b5998, #0078d7);
  box-shadow: 0px 4px 30px rgba(123, 123, 123, 0.5);
}

.btn-twitter {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 30px rgba(123, 123, 123, 0.5);
}

.btn-instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  box-shadow: 0px 4px 30px rgba(123, 123, 123, 0.5);
}

.btn-youtube {
  background: #FF0000;
  box-shadow: 0px 4px 30px rgba(123, 123, 123, 0.5);
}

.btn-behance {
  background: linear-gradient(45deg, #1769ff, #213fca);
  box-shadow: 0px 4px 30px rgba(123, 123, 123, 0.5);
}

.btn-github {
  background: linear-gradient(45deg, #333333, #626b73);
  box-shadow: 0px 4px 30px rgba(123, 123, 123, 0.5);
}

.btn-codepen {
  background: linear-gradient(45deg, #324e63, #414447);
  box-shadow: 0px 4px 30px rgba(123, 123, 123, 0.5);
}

.btn-custom {
  background: linear-gradient(45deg, #d5135a, #f05924);
  box-shadow: 0px 4px 30px rgba(123, 123, 123, 0.5);
}

.icon {
  font-size: 1.5rem;
  padding-right: 10px;
  position: absolute;
  left: 10%;
}

/* Contact Form */
.contact-section {
  display: none;
  transition: all 0.5s ease;
}

.form-control {
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  width: 100%;
  height: calc(2.75rem + 2px);
  padding: 0.625rem 1rem;
  color: #efefef;
  border: 1px solid #cad1d7;
  border-radius: 0.375rem;
  background-color: rgba(255, 255, 255, 0.2);
  background-clip: padding-box;
  box-shadow: none;
}

@media screen and (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}

.form-control:focus {
  color: #676767;
  border-color: rgba(50, 151, 211, 0.25);
  outline: 0;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: none, none;
}

.form-control:-ms-input-placeholder {
  opacity: 1;
  color: #fff;
}

.form-control::-ms-input-placeholder {
  opacity: 1;
  color: #fff;
}

.form-control::placeholder {
  opacity: 1;
  color: #fff;
}

.form-control:disabled,
.form-control[readonly] {
  opacity: 1;
  background-color: #e9ecef;
}

select.form-control:focus::-ms-value {
  color: #676767;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

.input-group {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: stretch;
}

.input-group > .form-control,
.input-group > .custom-select,
.input-group > .custom-file {
  position: relative;
  width: 1%;
  margin-bottom: 0;
  flex: 1 1 auto;
}

.input-group > .form-control + .form-control,
.input-group > .form-control + .custom-select,
.input-group > .form-control + .custom-file,
.input-group > .custom-select + .form-control,
.input-group > .custom-select + .custom-select,
.input-group > .custom-select + .custom-file,
.input-group > .custom-file + .form-control,
.input-group > .custom-file + .custom-select,
.input-group > .custom-file + .custom-file {
  margin-left: -1px;
}

.input-group > .form-control:focus,
.input-group > .custom-select:focus,
.input-group > .custom-file .custom-file-input:focus ~ .custom-file-label {
  z-index: 3;
}

.input-group > .custom-file .custom-file-input:focus {
  z-index: 4;
}

.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group > .custom-file {
  display: flex;
  align-items: center;
}

.input-group > .custom-file:not(:last-child) .custom-file-label,
.input-group > .custom-file:not(:last-child) .custom-file-label::after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .custom-file:not(:first-child) .custom-file-label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-prepend,
.input-group-append {
  display: flex;
}

.input-group-prepend .btn,
.input-group-append .btn {
  position: relative;
  z-index: 2;
}

.input-group-prepend .btn + .btn,
.input-group-prepend .btn + .input-group-text,
.input-group-prepend .input-group-text + .input-group-text,
.input-group-prepend .input-group-text + .btn,
.input-group-append .btn + .btn,
.input-group-append .btn + .input-group-text,
.input-group-append .input-group-text + .input-group-text,
.input-group-append .input-group-text + .btn {
  margin-left: -1px;
}

.input-group-prepend {
  margin-right: -1px;
}

.input-group-append {
  margin-left: -1px;
}

.input-group-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  margin-bottom: 0;
  padding: 0.625rem 0.75rem;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  border: 1px solid #cad1d7;
  border-radius: 0.375rem;
  background-color: #fff;
  align-items: center;
}

.input-group-text input[type=radio],
.input-group-text input[type=checkbox] {
  margin-top: 0;
}

.input-group-lg > .form-control,
.input-group-lg > .input-group-prepend > .input-group-text,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-append > .btn {
  font-size: 1.25rem;
  line-height: 1.5;
  height: calc(3.625rem + 2px);
  padding: 0.875rem 1rem;
  border-radius: 0.4375rem;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn {
  font-size: 0.875rem;
  line-height: 1.5;
  height: calc(1.8125rem + 2px);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group {
  transition: all 0.5s ease;
  border-radius: 0.375rem;
  box-shadow: none;
}

.input-group .form-control {
  box-shadow: none;
}

.input-group .form-control:not(:first-child) {
  padding-left: 0;
  border-left: 0;
}

.input-group .form-control:not(:last-child) {
  padding-right: 0;
  border-right: 0;
}

.input-group .form-control:focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
}

.input-group-text {
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input-group-alternative {
  transition: box-shadow 0.15s ease;
  border: 0;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
}

.input-group-alternative .form-control,
.input-group-alternative .input-group-text {
  border: 0;
  box-shadow: none;
}

/* Fade In Animation */
.animate {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #252525; */
  background: #020024;
  background: linear-gradient(0deg, #020024 0%, #090979 24%, #00d4ff 100%);
  background: #314755;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(180deg, #26a0da, #314755);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(180deg, #26a0da, #314755);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background-image: url(""); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* Playlist Section*/
.list-group, .list-group-item {
  background-color: rgba(255, 255, 255, 0);
}

.playlist-item {
  display: flex;
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  margin: 10px 0;
  transition: all 0.5s;
}

.playlist-item:hover {
  transform: scale(1.02);
}

.playlist-track {
  margin-left: 20px;
}

.track-title {
  font-weight: 400;
  color: #292929;
}

.track-subtitle {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.btn-playlist {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.btn-playlist:hover {
  box-shadow: none;
  opacity: 0.9;
  color: white;
  transform: scale(1);
}

/* Table of Contents
----------------------------------
1. Reset Styles
2. Blobs Background
2. Card Profile
3. Social Buttons / Sections
4. Forms
5. Animations
6. Playlist Section

*/